[Unit] Description=Handles Project Zomboid Server Application Wants=syslog.target network.target network-online.target [Service] Type=simple User=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin Group=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin WorkingDirectory= ExecStart=/usr/local/bin/pzserver Sockets=pzomboid.socket StandardInput=socket StandardOutput=journal StandardError=journal [Install] WantedBy=multi-user.target EOL
