[Unit]
Description=Handles Project Zomboid Server Application
Wants=syslog.target network.target network-online.target

[Service]
EnvironmentFile=/etc/systemd/system/pzomboid.service.d/override.conf
Type=simple
User=$PZUSER
Group=$PZUSER
WorkingDirectory=$PATH
ExecStart=/usr/local/bin/pzserver $FLAG $NAME $RAM_MIN $RAM_MAX $PATH
Sockets=pzomboid.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target