[Unit]
Description=Handles Project Zomboid Server Application
Wants=syslog.target network.target network-online.target

[Service]
Type=simple
User=pzuser
Group=pzuser
WorkingDirectory=/home/pzuser
ExecStart=/bin/bash /opt/pzserver/pzserver-start
ExecStop=
Sockets=pzomboid.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target