[Unit]
Description=Handles Project Zomboid Server Application
Wants=syslog.target network.target network-online.target

[Service]
Type=simple
User=pzuser
Group=pzuser
WorkingDirectory=/home/pzuser
ExecStart=/usr/local/bin/pzserverStart /opt/pzserver/ servertest-mods
ExecStop=/usr/local/bin/pzserverStop /home/pzuser
Sockets=pzomboid.socket
StandardInput=socket
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target