[Unit]
BindsTo=zomboid.service

[Socket]
ListenFIFO=/home/pzuser/zomboid.control
FileDescriptorName=control
RemoveOnStop=true
SocketMode=0660
SocketUser=pzuser